body {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.cont {
  background-color: #c1c1c1;
  width: 500px;
  height: auto;
  margin: auto;
}
.box {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.icon {
  font-size: 35px;
  color: #000000;
}
